<fieldset>
    <legend>{:lang('条件搜索')}</legend>
    <form class="layui-form layui-form-pane form-search" action="{:sysuri()}" onsubmit="return false" method="get"
        autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">账号类型</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value=''>账号</option>
                    <option value=''>代理</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户账号</label>
            <div class="layui-input-inline">
                <input name="title" value="{$get.title|default=''}" placeholder="{:lang('请输入权限名称')}"
                    class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">冻结状态</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="status">
                    <option value=''>-- {:lang('全部')} --</option>
                    <option value=''>账号</option>
                    <option value=''>代理</option>
                </select>
            </div>
        </div>
        
            <div class="layui-inline">
                <div class="layui-inline">
                    <label class="layui-form-label">日期选择</label>
                    <div class="layui-input-block">
                        <input type="text" name="date" id="date1" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-block">
                        <input type="text" name="number" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> {:lang('搜 索')}</button>
        </div>
    </form>
</fieldset>