{extend name='../../admin/view/table'}
{block name="content"}
<style>
    .layui-table-cell {
        height: inherit;
        line-height: inherit;
    }
</style>
<div class="think-box-shadow">
    {include file='users/index_search'}
    <table id="FileTable" data-url="{:sysuri('index')}" data-target-search="form.form-search"></table>
</div>
<script>
    $(function () {
        $('#FileTable').layTable({
            even: true, height: 'full',
            sort: { field: 'u1.id', type: 'desc' },
            cols: [[
                { field: 'username', title: '用户名', align: 'center' },
                { field: 'parent_account', title: '上级账号', align: 'center' },
                { field: 'usdt', title: '余额', align: 'center' },
                {
                    field: 'user_type', title: '用户类别', align: 'center', templet: (d) => {
                        return d.user_type === 1 ? '真实' : '虚拟'
                    }
                },
                {
                    field: 'online_status', title: '在线/离线', align: 'center', templet: (d) => {
                        let onlineText = '离线'
                        let className = 'layui-font-red'
                        if (d.online_status === 1) {
                            let onlineText = '在线'
                            let className = 'layui-font-green'
                        }
                        return `<span class="${className}">${onlineText}</span>`
                    }
                },
                {
                    field: 'status', title: '状态', align: 'center', templet: (d) => {
                        let checked = d.status === 1 ? 'checked' : ''
                        return `<input type="checkbox" ${checked} value="1" name="status" title="正常|禁用" lay-skin="switch">`
                    }
                },
                {
                    field: '', title: '登录时间', align: 'center', templet: (d) => {
                        let index = d.login_time.indexOf(' ')
                        let date = ''
                        let time = ''
                        if (index !== -1) {
                            const parts = d.login_time.split(' ');
                            date = `<p>${parts[0]}</p>`
                            time = `<p>${parts[1]}</p>`
                        }
                        return date + time

                    }
                },

                {
                    field: '', title: '注册时间', align: 'center', templet: (d) => {
                        let index = d.register_time.indexOf(' ')
                        let date = ''
                        let time = ''
                        if (index !== -1) {
                            const parts = d.register_time.split(' ');
                            date = `<p>${parts[0]}</p>`
                            time = `<p>${parts[1]}</p>`
                        }
                        return date + time
                    }
                },
                {
                    field: '', title: '登录ip', align: 'center', templet: (d) => {
                        const region = d.login_isp !==''?`<p>${d.login_isp}</p>`:''
                        return `<p>${d.login_ip}</p>${region}`
                    }
                },
                {
                    field: '', title: '注册ip', align: 'center', templet: (d) => {
                          const region = d.register_isp !==''?`<p>${d.register_isp}</p>`:''
                        return `<p>${d.register_ip}</p>${region}`
                    }
                },
                { field: 'remark', title: '备注', align: 'center' },
            ]]
        });
    });
</script>
{/block}